﻿<footer class="footer">
    <div class="footer__main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-section">
                        <a class="footer__logo" href="/"><img class="img-responsive" src="~/Assets/Theme/logo-footer.png" alt="Logo" /></a>
                        <div class="footer__info">
                            <span class="copyright__info">© @DateTime.Now.Year<strong> PANDA HABER</strong> ® Her hakkı saklıdır.</span>
                            <div class="footer__contact"><i class="icon fa fa-envelope"></i> iletisim@huseyinkayakiran.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <section class="footer-section">
                        <p><a href="#" id="goTop"><i class="icon fa fa-arrow-up"></i></a> Yukarı Çık</p>
                        <p>Sitemizde yer alan tüm haberler robot vasıtasıyla menüdeki sitelerden toplanmaktadır. Toplanan haberlerden ve girilen yorumlardan sitemiz sorumlu tutulamaz. Sitemizden kaldırılmasını istediğiniz haber için 'iletisim@huseyinkayakiran.com' adresine mail atabilirsiniz. Yollayacağınız mailde; haber linkini, kaldırılma sebebini ve kurumsal bilgilerinizi yazmalısınız. 48 saat içinde geri dönüş yapılıcaktır.</p>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('a#goTop').click(function () {
            $('html, body').animate({ scrollTop: 0 }, 'slow');
        });
    </script>
</footer>
