﻿@model List<Haber.Business.Haber>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Panda Haber | Panda'dan al haberi !</title>
    <meta name="keywords" content="panda haber, panda, haber">
    <meta name="description" content="">
    <meta name="copyright" content="Her hakkı saklıdır">
    <meta name="reply-to" content="iletisim@huseyinkayakiran.com">
    <meta name="author" content="Hüseyin Kayakıran">
    <meta name="application-name" content="Panda Haber | pandahaber.com">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="@ViewBag.URL" />

    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://pandahaber.com/facebook.jpg" />
    <meta property="og:url" content="@ViewBag.URL" />
    <meta property="og:description" content="@ViewBag.Description" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@ViewBag.Title" />
    <meta name="twitter:description" content="@ViewBag.Description" />
    <meta name="twitter:image" content="http://pandahaber.com/twittter.jpg" />

    @Styles.Render("~/bundles/style")

    <!--[if lt IE 9 ]>
    <script src="/~/Assets/Theme/assets/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar">
    <![endif]-->
</head>
<body>
    <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
    <div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">
        @Html.Action("header", "Partial")
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <h2>Usage example</h2>
                        <div class="timeline timeline-line-dotted">
                            <span class="timeline-label">
                                <span class="label label-primary">17.03.2016</span>
                            </span>
                            @foreach (var item in Model)
                            {
                                <div class="timeline-item" id="@item.HaberID">
                                    <div class="timeline-point">
                                        <img src="@item.HaberGorsel" width="24" height="24" class="timeline-point-img" />
                                    </div>
                                    <div class="timeline-event">
                                        <div class="timeline-heading">
                                            <p>@item.HaberKaynak @item.HaberKategori @item.HaberEklenme</p>
                                            <h4><a href="/haber/@item.HaberKaynak/@item.HaberKategori/@item.HaberBaslikSeo"></a>@(item.HaberBaslik.Length >= 150 ? item.HaberBaslik.Substring(0, 150) + "..." : item.HaberBaslik)</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>@item.HaberIcerik</p>
                                        </div>
                                        @*<div class="timeline-footer">

                                        </div>*@
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Action("footer", "Partial")
    </div>
    @Scripts.Render("~/bundles/script")
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109606885-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109606885-1');
    </script>
</body>
</html>