﻿@model List<Haber.Business.Haber>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="panda haber, panda, haber">
    <meta name="description" content="@ViewBag.Description">
    <meta name="copyright" content="Her hakkı saklıdır">
    <meta name="reply-to" content="iletisim@huseyinkayakiran.com">
    <meta name="author" content="Hüseyin Kayakıran">
    <meta name="application-name" content="Panda Haber | pandahaber.com">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="@ViewBag.URL" />

    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://pandahaber.com/facebook.jpg" />
    <meta property="og:url" content="@ViewBag.URL" />
    <meta property="og:description" content="@ViewBag.Description" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@ViewBag.Title" />
    <meta name="twitter:description" content="@ViewBag.Description" />
    <meta name="twitter:image" content="http://pandahaber.com/twittter.jpg" />

    @Styles.Render("~/bundles/style")

    <!--[if lt IE 9 ]>
    <script src="/~/Assets/Theme/assets/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar">
    <![endif]-->
</head>
<body>
    <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
    <div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">
        @Html.Action("header", "Partial")
        <div class="section-type-10 bg-grey-2">
            <div class="container-fluid">
                <div class="section-sm-top wrap-inl-bl">
                    <div class="row" id="haberArea">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <section class="b-post b-post_img-left b-post_img-140 clearfix">
                                    <div class="entry-media"><a class="js-zoom-images img-hover-effect" href="/haber/@item.HaberKaynak/@item.HaberKategori/@item.HaberBaslikSeo"><img class="img-responsive img-border-sm hov-scal" src="@item.HaberGorsel" alt="@item.HaberMetaKisaBaslik" /></a></div>
                                    <div class="entry-main">
                                        <div class="entry-header">
                                            <h2 class="entry-title"><a href="/haber/@item.HaberKaynak/@item.HaberKategori/@item.HaberBaslikSeo">@item.HaberMetaKisaBaslik</a></h2>
                                            <div class="entry-meta">
                                                <span class="entry-meta__item"><i class="icon fa fa-info text-primary"></i><a class="entry-meta__link" href="/haber/@item.HaberKaynak/@item.HaberKategori/@item.HaberBaslikSeo" title="Kaynak">@item.HaberKaynak , @item.HaberKategori , @item.HaberEklenme</a></span><br />
                                                <span class="entry-meta__item"><i class="icon fa fa-street-view text-primary"></i><a class="entry-meta__link" href="/haber/@item.HaberKaynak/@item.HaberKategori/@item.HaberBaslikSeo" title="Hit">@item.HaberOkunma</a></span>
                                                <span class="entry-meta__item"><i class="icon fa fa-hourglass-end text-primary"></i><a class="entry-meta__link" href="/haber/@item.HaberKaynak/@item.HaberKategori/@item.HaberBaslikSeo" title="Okunma Süresi">@item.HaberOkunmaSuresi</a></span><br />
                                                <span class="entry-meta__item"><i class="icon fa fa-link text-primary"></i><a class="entry-meta__link" href="@item.HaberLink?r=pandahaber.com" title="@item.HaberKaynak Kaynağından Oku" target="_blank">Kaynağından Oku</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @Html.Action("footer", "Partial")
    </div>
    @Scripts.Render("~/bundles/script")
    @*<script type="text/javascript">
        $(document).ready(function () {
            var say = 90;
            setInterval(function () {
                haberGetir(say);
                say = say + 30;
            }, 5000);

        });
        function haberGetir(fsay) {
            var fields = window.location.href.split('/');
            var s = fields[3];
            var c = fields[4];
            $.ajax({
                type: "POST",
                url: "/getir",
                data: "{'kaynak':'" + s + "','kategori':'" + c + "','say':'" + fsay + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var count = Object.keys(data).length;
                    if (count > 0) {
                        $("#haberArea").append("<div class='col-md-12' id='loadingNew' style='width:100%; background-color:#fff; height: 40px;'><center><img src='/loading.gif' style='width: 180px; height: 40px; display:block;' /></center></div>");
                        setTimeout(() => {
                            $("#loadingNew").remove()
                            $('#haberArea').append("<div class='col-md-12' style='width:100%; background-color:#000; height: 25px;'><center><img src='/scroll.png' style='width: 25px; height: 25px; display:block;' /></center></div>");
                            $.each(data, function (index, obj) {
                                $('#haberArea').append("<div class='col-lg-3 col-md-6 col-sm-6 col-xs-12'><section class='b-post b-post_img-left b-post_img-140 clearfix'><div class='entry-media'><a class='js-zoom-images img-hover-effect' href=/haber/" + obj.HaberKaynak + "/" + obj.HaberKategori + "/" + obj.HaberBaslikSeo + "'><img class='img-responsive img-border-sm hov-scal' src=" + obj.HaberGorsel + " alt=" + obj.HaberMetaKisaBaslik + "/></a></div><div class='entry-main'><div class='entry-header'><h2 class='entry-title'><a href='/haber/" + obj.HaberKaynak + "/" + obj.HaberKategori + "/" + obj.HaberBaslikSeo + "'>" + obj.HaberMetaKisaBaslik + "</a></h2><div class='entry-meta'><span class='entry-meta__item'><i class='icon fa fa-info text-primary'></i><a class='entry-meta__link' href='/haber/" + obj.HaberKaynak + '/' + obj.HaberKategori + '/' + obj.HaberBaslikSeo + "' title='Kaynak'>" + obj.HaberKaynak + "," + obj.HaberKategori + "," + obj.HaberEklenme + "</a></span><span class='entry-meta__item'><i class='icon fa fa-street-view text-primary'></i><a class='entry-meta__link' href='/haber/" + obj.HaberKaynak + '/' + obj.HaberKategori + '/' + obj.HaberBaslikSeo + "' title='Hit'>" + obj.HaberOkunma + "</a></span><span class='entry-meta__item'><i class='icon fa fa-hourglass-end text-primary'></i><a class='entry-meta__link' href='/haber/" + obj.HaberKaynak + '/' + obj.HaberKategori + '/' + obj.HaberBaslikSeo + "' title='Okunma Süresi'>" + obj.HaberOkunmaSuresi + "</a></span><br /><span class='entry-meta__item'><i class='icon fa fa-link text-primary'></i><a class='entry-meta__link' href='" + obj.HaberLink + "?r=pandabahaber.com' + ' title='" + obj.HaberKaynak + " Kaynağından Oku' target='_blank'>Kaynağından Oku</a></span></div></div></div></section></div>");
                            });

                        }, 3000);
                    }
                }
            });
        }
    </script>*@
    <script type="text/javascript">
            $(document).ready(function () {
                haberGetir(90);
            });
            function haberGetir(fsay) {
                var fields = window.location.href.split('/');
                var s = fields[3];
                var c = fields[4];
                $.ajax({
                    type: "POST",
                    url: "/getir",
                    data: "{'kaynak':'" + s + "','kategori':'" + c + "','say':'" + fsay + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        var count = Object.keys(data).length;
                        if (count > 0) {
                            $("#haberArea").append("<div class='col-md-12' id='loadingNew' style='width:100%; background-color:#fff; height: 40px;'><center><img src='/loading.gif' style='width: 180px; height: 40px; display:block;' /></center></div>");
                            setTimeout(() => {
                                $("#loadingNew").remove()
                                $('#haberArea').append("<div class='col-md-12' style='width:100%; background-color:#000; height: 25px;'><center><img src='/scroll.png' style='width: 25px; height: 25px; display:block;' /></center></div>");
                                $.each(data, function (index, obj) {
                                    $('#haberArea').append("<div class='col-lg-3 col-md-6 col-sm-6 col-xs-12'><section class='b-post b-post_img-left b-post_img-140 clearfix'><div class='entry-media'><a class='js-zoom-images img-hover-effect' href=/haber/" + obj.HaberKaynak + "/" + obj.HaberKategori + "/" + obj.HaberBaslikSeo + "'><img class='img-responsive img-border-sm hov-scal' src=" + obj.HaberGorsel + " alt=" + obj.HaberMetaKisaBaslik + "/></a></div><div class='entry-main'><div class='entry-header'><h2 class='entry-title'><a href='/haber/" + obj.HaberKaynak + "/" + obj.HaberKategori + "/" + obj.HaberBaslikSeo + "'>" + obj.HaberMetaKisaBaslik + "</a></h2><div class='entry-meta'><span class='entry-meta__item'><i class='icon fa fa-info text-primary'></i><a class='entry-meta__link' href='/haber/" + obj.HaberKaynak + '/' + obj.HaberKategori + '/' + obj.HaberBaslikSeo + "' title='Kaynak'>" + obj.HaberKaynak + "," + obj.HaberKategori + "," + obj.HaberEklenme + "</a></span><span class='entry-meta__item'><i class='icon fa fa-street-view text-primary'></i><a class='entry-meta__link' href='/haber/" + obj.HaberKaynak + '/' + obj.HaberKategori + '/' + obj.HaberBaslikSeo + "' title='Hit'>" + obj.HaberOkunma + "</a></span><span class='entry-meta__item'><i class='icon fa fa-hourglass-end text-primary'></i><a class='entry-meta__link' href='/haber/" + obj.HaberKaynak + '/' + obj.HaberKategori + '/' + obj.HaberBaslikSeo + "' title='Okunma Süresi'>" + obj.HaberOkunmaSuresi + "</a></span><br /><span class='entry-meta__item'><i class='icon fa fa-link text-primary'></i><a class='entry-meta__link' href='" + obj.HaberLink + "?r=pandabahaber.com' + ' title='" + obj.HaberKaynak + " Kaynağından Oku' target='_blank'>Kaynağından Oku</a></span></div></div></div></section></div>");
                                });

                            }, 3000);

                            setInterval(function () {
                                haberGetir(fsay + 30);
                            }, 5000);
                        }
                    }
                });
            }
        </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109606885-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109606885-1');
    </script>

</body>
</html>